section {
  max-width: 740px;
  margin: 0 auto;
  font-family: 'Old Standard TT', serif;
}

.column {
  flex: 1 1 0px;
}

section:first-of-type .column:first-of-type {
  flex: 2 2 22px;
}


.header {
  font-size: 2em;
}

input {
  text-align: center;
  width: 20%;
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
}

.word-image-poem {

}

.footer {

}
